@font-face {
    font-family: "Julius";
    src: url(Fonts/JuliusSansOne-Regular.woff);
}

@font-face {
    font-family: "Questrial";
    src: url(Fonts/Questrial-Regular.woff);
}

* {
    margin: 0;
}

* p, h1, h2, h4 {
    font-family: "Questrial";
}

#bgSize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.starsBg {
    /* background-color: #d75a5a; */
    background-color: rgb(25, 28, 53);
    background-image: url(Pics/background-stars.png);
}

.treesBg {
    background-image: url(Pics/trees.PNG);
    background-size: cover;
}

body {
    background-color: rgb(25, 28, 53);
    background-image: url(Pics/background-stars.png);
}

/* NAV BAR */
nav {
    background-color: rgb(233, 167, 167);
    background-image: url(Pics/navbg.png);
}

/* COOL SLIDING STUFF */
.navstuff {
    background-color: rgb(27, 27, 61);
    background-image: url(Pics/background-stars.png);
    background-size: cover;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Makes it into a column */
    overflow-x: hidden; /* Hides the nav stuff */
    padding-top: 60px;
    transition: 0.3s;
    font-size: 24px;
}

.navstuff a {
    font-family: 'Julius';
    padding: 10px 8px 8px 32px;
    display: block;
    color: white;
}

#navlink:hover {
    color: rgb(150, 146, 206);
}

#navporty:hover {
    color: white;
    cursor: default;
}

.openclose:hover {
    cursor: pointer;
}

.openclose {
    background-color: rgb(186, 163, 243);
    background-image: url(Pics/navicon.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 2%;
    left: 0;
    transition: 0.3s;
    font-size: 30px;
    /* 630x630 */
}

.gohome {
    background-color: red;
    position: fixed;
    width: 70px;
    height: 70px;
    top: 9%;
    transition: 0.3s;
}

.gohome:hover {
    cursor: pointer;
}

#main {
    transition: margin-left 0.5s; /* Slides the main to the right when nav opened */
}

.port-code,
.port-writing,
.port-drawing,
.port-animation {
    margin-left: 25px;
}

.nav-about,
.nav-resume,
.nav-contact,
.nav-portfolio {
    margin-top: 20px;
}

.nhome {
    /* background-color: rgb(210, 111, 111); */
    display: flex;
    flex-direction: row;
}

.nabout {
    /* background-color: rgb(202, 127, 74); */
    display: flex;
    flex-direction: row;
}

.nport {
    /* background-color: rgb(199, 105, 105); */
    display: flex;
    flex-direction: row;
}

.pcode {
    /* background-color: rgb(203, 146, 99); */
    display: flex;
    flex-direction: row;
    /* padding-left: 23px; */
}

.pwrite {
    /* background-color: rgb(214, 119, 119); */
    display: flex;
    flex-direction: row;
}

.pdraw {
    /* background-color: rgb(197, 155, 110); */
    display: flex;
    flex-direction: row;
}

.panim {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.nresume {
    /* background-color: rgb(255, 128, 0); */
    display: flex;
    flex-direction: row;
}

.ncontact {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}


/* MORE STYLE STUFF */
.navstuff a {
    text-decoration: none;
}

.navstuff a:hover {
    color: aqua;
}



/* DECOR */
/* .tree {
    position: absolute;
    background-color: rgb(57, 130, 57);
    width: 100px;
    height: 100px;
    left: 13em;
    bottom: 17em;
} */

.title img {
    width: 60em;
    height: 15em;
    background-size: cover;
    position: absolute;
    left: 25%;
}

#welp1 {
    position: absolute;
    font-size: 24px;
    left: 30%;
}

#welp2 {
    color: white;
    position: fixed;
    font-size: 24px;
    left: 23.5%;
    top: 35%;
}

.grass {
    background-image: url(Pics/grass.png);
    background-size: contain;
    bottom: 0;
    position: absolute;
    /* background-color: rgb(60, 109, 60); */
    width: 100%;
    height: 26%;
    transition: 0.5s;
}

.blanket {
    background-image: url(Pics/blanket.png);
    background-size: 100% 195%;
    position: absolute;
    /* background-color: pink; */
    width: 45em;
    height: 8em;
    left: 14em;
    bottom: 8.6em;
    transition: 0.5;
    /* 99.2x720 */
}

.lanternbg {
    position: fixed;
    width: 80px;
    height: 100px;
    left: 30em;
    bottom: 15em;
}

.lantern {
    background: none;
    background-image: url(Pics/lantern-off.png);
    position: fixed;
    width: 80px;
    height: 100px;
    left: 36em;
    bottom: 18em;
    border: none;
    /* 1200x960 */
}

.lantern:hover {
    cursor: pointer;
}

.basket {
    /* background-image: url(Pics/basket.png); */
    background-size: contain;
    /* background-color: cornflowerblue; */
    position: absolute;
    width: 150px;
    height: 100px;
    left: 37em;
    bottom: 11em;
    /* 750x500 */
}

.rudy {
    position: absolute;
    background-color: bisque;
    width: 120px;
    height: 150px;
    left: 47em;
    bottom: 14em;
}

.rudy:hover {
    cursor: grab;
}




/* OTHER PAGES */
.home-text {
    background-color: rgb(176, 111, 176);
}

.me {
    position: absolute;
    background-color: aqua;
    width: 8em;
    height: 13em;
    left: 18em;
    bottom: 14.5em;
}

.aboutme a{
    /* background-color: red; */
    width: 100px;
    height: 100px;
}

.resume {
    position: absolute;
    /* background-color: brown; */
    width: 100px;
    height: 60px;
    left: 19em;
    bottom: 10.5em;
    /* 600x350 */
}

.resume:hover {
    color: rgba(255, 0, 0, 0.6);
}

.restex {
    /* background-color: #bd8282; */
    color: white;
    position: fixed;
    left: 17.3em;
    bottom: 11em;
    text-shadow: 2px 2px 2px black;
}

.contact {
    /* background-color: chocolate; */
    /* width: 100px;
    height: 100px; */
    position: absolute;
    left: 17em;
    bottom: 43em;
}

a.tree {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

a.tree:hover {
    color: rgb(212, 220, 229);
}


.portfolio {
    position: absolute;
    background-color: orange;
    /* width: 12em;
    height: 15em; */
    right: 30%;
    bottom: 35%;
}


/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    bottom: 12px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0, 0.5);
}

/*  Jon's home     *                    */
/*                   *                  */
/*                  *                   */
/*                  _|_______           */
/*                 /         \          */
/*                /___________\         */
/*                |  _     _  |         */
/*                | |_| _ |_| |         */
/*                | |_|| ||_| |         */
/* _______________|____|_|____|________ */


/* ABOUT ME */
.aboutmeinfo {
    background-color: blue;
    width: 40%;
    height: 40em;
    margin-right: auto;
    margin-left: auto;
}

.abtmetext {
    color: white;
    font-size: 23px;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
}


/* RESUME */
.actResume {
    background-color: #bd8282;
    background-image: url(Pics/resume.png);
    width: 30%;
    height: 57em;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}



/* PORTFOLIO */
.portfoliopage {
    background-color: black;
}

.scope {
    background-color: rgb(193, 172, 235);
    width: 65em;
    height: 65em;
    border-radius: 50%;
    display: block;     /* how to center things */
    margin-left: auto;
    margin-right: auto;
}

.coding {
    position: absolute;
    background-color: red;
    top: 15%;
    left: 49%;
}

.writing {
    position: absolute;
    background-color: orange;
    top: 48%;
    left: 33%;
}

.drawing {
    position: absolute;
    background-color: yellow;
    top: 48%;
    right: 33%;
}

.animation {
    position: absolute;
    background-color: green;
    bottom: 15%;
    left: 48%;
}






/* PORTFOLIO - CODING */
.slideshow {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    margin-left: 10%;
}

.ssBack {
    /* background-color: blue; */
    width: 3%;
    height: 23em;
}

.carousel {
    background-color: brown;
    background-size: cover;
    width: 40%;
    height: 23em;
}

.ssForward {
    /* background-color: aqua; */
    width: 3%;
    height: 23em;
}

.ssBut {
    background-color: none;
    border: none;
    color: none;
    width: 100%;
    font-size: 25px;
    top: 50%;
    cursor: pointer;
}

.webText {
    text-align: center;
    position: fixed;
    width: 30%;
    right: 15%;
    top: 25%;
    height: auto;
}

.webText p, h1 {
    color: white;
}

.webTitle {
    font-size: 24px;
}

.webContent {
    margin-top: 2.5%;
    font-size: 20px;
    text-align: left;
}

.webContent {
    color: white;
}

.takeme {
    background-color: violet;
    position: fixed;
    border-radius: 5%;
    left: 23.7%;
    bottom: 27%;
    padding: 1em;
    text-decoration: none;
}

.takeme:hover {
    background-color: rgb(217, 116, 217);
}

.takeme:active {
    background-color: rgb(145, 83, 164);
    color: blue;
}






/* PORTFOLIO - DRAWING */
.drawing-title {
    background-color: gray;
    width: 30em;
    height: 10em;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}

.art-pieces {
    /* background-color: rgb(218, 255, 243); */
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.art1 {
    background-color: gray;
    width: 256px;
    height: 256px;
}

.art-pieces p {
    width: 15em;
    margin: 1%;
    color: white;
}

.art2 {
    background-color: gray;
    width: 25em;
    height: max-content;
}

.art3 {
    background-color: gray;
    width: 25em;
    height: max-content;
}



/* PORTFOLIO - ANIMATION !! */
.animationstuff {
    /* background-color: rgb(245, 243, 243); */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.toolbar {
    background-color: rgb(255, 255, 255);
    width: 10%;
    height: 35em;
    margin-top: 3%;
    margin-left: 1%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#tool {
    background-color: rgb(92, 92, 206);
    width: 40%;
    height: 9%;
    margin-left: 27%;
}

.animcanvas {
    /* background-color: rgb(187, 186, 231); */
    width: 86%;
    height: 50em;
    margin-top: 3%;
    margin-left: 1%;
    /* border: 2px solid black; */
    border-radius: 4px 4px;
    color: white;
}

.animvid {
    /* background: rgb(146, 192, 255); */
    width: 40%;
    height: 50%;
    margin-top: 2%;
    margin-left: 2%;
}

.animtext {
    /* background: rgb(125, 189, 113); */
    width: 30em;
    height: max-content; 
    margin-left: 50%;
    margin-top: -30%;
    font-size: 24px;
}

.animtitle {
    /* background: rgb(218, 247, 255); */
    width: max-content;
    height: max-content; 
    margin-top: 1%;
    margin-left: 17%;
}

.animdesc {
    /* background: rgb(206, 116, 209); */
    width: max-content;
    height: max-content;
    margin-left: 8%;
    margin-top: 2%;
    font-size: 24px;
}


.animbottom {
    /* background-color: rgb(255, 234, 128); */
    position: fixed;
    bottom: 0;
    left: 2.5%;
    width: 95%;
    height: 8.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#frame {
    /* background-color: orange; */
    border: 0;
    width: 9%;
    height: 90%;
    border-radius: 4px 4px;
}

.frame1,
.frame2,
.frame3,
.frame4,
.frame5,
.frame6,
.frame7 {
    background-color: rgb(255, 255, 255);
    border: 1.5px solid rgb(151, 151, 151);
}

.playbutton {
    background-color: rgb(255, 255, 255);
    background-image: url(Pics/play.PNG);
}


/* PORTFOLIO - WRITING */
/* .libro {
    background-color: rgb(169, 214, 214);
    width: 90%;
    height: 58em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
} */

.wsample1 {
    /* background-image: url(Pics/careerresearch.png); */
    background-size: contain;
    width: 25%;
    height: 40em;
    border: 2px solid black;
    margin-left: 35%;
}

.wsample2 {
    /* background-image: url(Pics/onlinefrienships.png); */
    background-size: contain;
    width: 25%;
    height: 40em;
    border: 2px solid black;
    margin-left: 35%;
}

.wpara {
    /* width: 15%; */
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}




/* CONTACT */
.thankyou {
    /* background-color: rgb(200, 122, 122); */
    width: 30em;
    height: max-content;
    margin-top: 6%;
    margin-left: 21%;
    font-size: 24px;
    color: white;
}

/* .hooty {
    background-color: rgb(113, 90, 69);
    width: 30em;
    height: 40em;
    position: absolute;
    bottom: 30%;
    right: 10%;
} */

.web {
    /* background-color: rgb(200, 200, 255); */
    width: 50%;
    height: 48.9em;
    bottom: 0;
    position: fixed;
}

.reach {
    /* background-color: rgb(187, 246, 187); */
    width: max-content;
    font-size: 28px;
    position: fixed;
    top: 35%;
    left: 15%;
    color: white;
}

.email {
    /* background-color: rgb(138, 138, 247); */
    font-size: 24px;
    width: max-content;
    position: fixed;
    top: 45%;
    left: 25%;
    color: rgb(173, 185, 255);
}

.email:hover {
    color: rgb(188, 200, 228);
}





/* Media queries and whatever else that's not the main styling */

/* phones */
@media only screen and (max-width: 600px) {
    .resume {
        display: none;
    }
    .lanternbg {
        display: none;
    }
    .lantern {
        display: none;
    }
    .basket {
        display: none;
    }
    .blanket {
        display: none;
    }
    .title img{
        left: 4%;
        width: 25em;
        height: 10em;
    }
    #welp2 {
        left: 7%;
    }
    .grass {
        background-size: cover;
    }

    /* CONTACT PAGE */
    .thankyou {
        margin-top: 15%;
        margin-left: 0;
        width: 15em;
    }

    /* RESUME */
    .actResume {
        width: 100%;
    }

    /* WRITING */
    .wsample1 {
        width: 100%;
        margin-left: 0;
    }
    .wsample2 {
        width: 100%;
        margin-left: 0;
    }

    /* DRAWINGS */
    .art-pieces {
        display: flex;
        flex-direction: column;
    }

    /* CODING */
    .carousel {
        width: 90%;
    }
    .slideshow {
        margin-left: 0;
    }
    .webText {
        width: 60%;
        margin-top: 15%;
        bottom: 0;
        left: 0;
        position: relative;
    }

    /* ANIMATION */
    .animcanvas {
        background-color: 0;
    }
    .animvid {
        width: 100%;
    }
    .animtext {
        margin-top: 20%;
        margin-left: 0;
        width: 90%;
    }
}