@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

@keyframes movemore {
    /* circular ex from some guy */
    0%{
        top: 200px;
        transform:rotate(0deg)
                  translate(150px)
                  rotate(0deg);
      
      }
      100%{
        top: 200px;
        transform:rotate(360deg)
                  translate(150px)
                  rotate(-360deg);
      }

    /* my own coding */
    /* 0% {left:0px;top:0px; transform: rotate(360deg);}
    25% {left: 200px;top: 200px; transform: rotate(0deg);}
    50% {left: 0px;top: 200px; transform: rotate(360deg);}
    75% {left: 0px;top: 0px; transform: rotate(0deg);} */

    /* example from w3 */
    /* 0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
}

@keyframes moves {
    /* circular ex from some guy */
    0%{
        left: 500px;
        top: 200px;
        transform:rotate(0deg)
                  translate(-150px)
                  rotate(0deg);
      
      }
      100%{
        left: 500px;
        top: 200px;
        transform:rotate(360deg)
                  translate(-150px)
                  rotate(-360deg);
      }
}

@keyframes squiggle {
    0%{
        left: 0px;
        top: 50px;
    }
    10%{
        left: 20px;
        top: 55px;
    }
    20%{
        left: 0px;
        top: 65;
    }
}


.test {
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    position: relative;
    /* overflow: hidden; */
    background-color: red;
    animation: movemore 2s linear infinite;
    /* animation-delay: 0.5s; */
}

.test2 {
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: blue;
    animation: moves 2s linear infinite;
    /* animation-delay: 0.5s; */
}